python-dateutil
tqdm
pandas
numpy
scikit-learn
xgboost==3.1.2
matplotlib
seaborn
shap==0.50.0
fastapi
uvicorn
pydantic
joblib
streamlit
python-multipart
torch
pytest
httpx

streamlit==1.31.0
altair==4.2.2
pandas==2.2.2
requests==2.32.3

